@import "./base.css";

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

/* Mobile portrait */
@media (max-width: 600px) {
  #app {
    padding: 0.5rem; /* réduit les marges latérales */
  }
}

/* Tablette / desktop */
@media (min-width: 1024px) {
  #app {
    max-width: 1000px; /* limite la largeur */
    padding: 2rem;
  }
}